<div class="sidebar">
  <p-sidebar
    [(visible)]="visibleSidebar1"
    [modal]="false"
    [showCloseIcon]="false"
  >
    <ng-template pTemplate="header">Dashboard</ng-template>
  </p-sidebar>
  <div class="left-content">
    <div class="logout">
        <p>Logged in user {{loggedInUser}}</p>
        <button pButton type="button" label="Logout" class="p-button-primary" (click)="onSubmit()" ></button>
    </div>
    <p-tabView style="
    width: 100vw; height: 100vh;">
      <p-tabPanel header="Home" >
          <app-home></app-home>
      </p-tabPanel>
      <p-tabPanel header="Roles">
        <app-rolesaccordion></app-rolesaccordion>
      </p-tabPanel>
      <p-tabPanel header="Fetched user" style="height: 100vh;">
        <app-userpagination></app-userpagination>
      </p-tabPanel>
      <p-tabPanel header="All User">
        <app-allusers></app-allusers>
      </p-tabPanel>
  </p-tabView>
  </div>

</div>

