.img-class {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 70px;
}

.container {
    margin: auto;
    background-color: white;
    width: 642px;
    height: 484px;
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    margin-top: 51px;
    margin-bottom: 16.17px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 15px;
    text-align: center;
    color: #000000;
}

.form-group {
    margin-bottom: 24px;
}

.form-container input {
    padding-left: 10px;
    padding-right: 10px;
    width: 522px;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 15px;
    border: 1px solid #CCCCCC;
    filter: drop-shadow(0px 0px 4px rgba(142, 163, 91, 0.25));
    border-radius: 4px;
}

.form-container input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 15px;
    color: #9A9A9A;
}

.form-container input:focus {
    outline: none;
}

.sub-heading {
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(22, 160, 169, 0.48);
}

.form-container {
    text-align: center;
}

.btn-class button {
    border: none;
    color: white;
    text-align: center;
    font-weight: 500;
    width: 170px;
    height: 58.4px;
    background: #16A0A9;
    border-radius: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;

}

small {
    display: block;
    position: relative;
    text-align: left;
    color: red;
    margin-left: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}