<div class="img-class">
    <img src="../../assets/logo.png" alt="DigiValet">
</div>

<div class="container">
    <h1 class="heading">Forgot Password</h1>
    <p class="sub-heading">No worries , we'll set new password for you</p>
    <div class="form-container">
        <form action="" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" placeholder="Email" formControlName="email">
                <div>
                    <small
                        *ngIf="forgetPasswordForm.get('email')?.errors?.['required'] && forgetPasswordForm.get('email')?.touched">Email
                        cannot be empty</small>
                    <small
                        *ngIf="forgetPasswordForm.get('email')?.errors?.['email'] && forgetPasswordForm.get('email')?.touched">Email
                        is invalid</small>
                    <small
                        *ngIf="forgetPasswordForm.get('email')?.errors?.['maxlength'] && forgetPasswordForm.get('email')?.touched && !forgetPasswordForm.get('email')?.errors?.['email']">Email
                        cannot be more than 30 characters</small>
                    <small
                        *ngIf="(!forgetPasswordForm.get('email')?.errors?.['required'] &&!forgetPasswordForm.get('email')?.errors?.['maxlength'] &&!forgetPasswordForm.get('email')?.errors?.['email'] && !forgetPasswordForm.get('email')?.errors?.['emailif'] && forgetPasswordForm.get('email')?.touched)">Email
                        doesnt exist</small>
                </div>

            </div>
            <div class="form-group">
                <input type="text" placeholder="Username" formControlName="username">
                <small
                    *ngIf="forgetPasswordForm.get('username')?.errors?.['required'] && forgetPasswordForm.get('username')?.touched">Username
                    cannot be empty</small>
                <small
                    *ngIf="forgetPasswordForm.get('username')?.errors?.['maxlength'] && forgetPasswordForm.get('username')?.touched">Username
                    cannot be more than 20 characters</small>
                <small
                    *ngIf="(!forgetPasswordForm.get('username')?.errors?.['maxlength']&&!forgetPasswordForm.get('username')?.errors?.['required'] && forgetPasswordForm.get('username')?.errors?.['user'] && forgetPasswordForm.get('username')?.touched)">Username
                    doesnt exist</small>
            </div> 
            <div class="form-group">
                <input type="password" placeholder="New Password" formControlName="newPassword">
                <small
                    *ngIf="forgetPasswordForm.get('newPassword')?.errors?.['required'] && forgetPasswordForm.get('newPassword')?.touched">Password
                    cannot be empty</small>
                <small
                    *ngIf="forgetPasswordForm.get('newPassword')?.errors?.['maxlength'] && forgetPasswordForm.get('newPassword')?.touched">Password
                    cannot be more than 20 characters</small>
                <small
                    *ngIf="forgetPasswordForm.get('newPassword')?.errors?.['pattern'] && forgetPasswordForm.get('newPassword')?.touched">Password
                    is invalid</small>
            </div>
            <div class="btn-class">
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</div>